@font-face {
    font-family: 'InstrumentSerifRegular';
    src: url('assets/fonts/InstrumentSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSerifItalic';
    src: url('assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;

    background-image: url(assets/bg.png);
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#video-container {
    position: relative;
    top: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 45%;
    background-color: #E8E8E8;

    border-radius: 10px;
    border: 1.3px purple solid;
}

canvas {
    position: relative;
    top: 10px;
    max-width: 95%;
    height: auto;
    display: block;
    /* object-fit: cover; */

    background-color: white;
}

video {
    display: none;
}

#lenticular {
    position: fixed;
    width: 50vw;
    height: auto;
    z-index: 0;
    
    left: 50%;
    transform: translate(-50%, -50%);
    top: 130px;
}

#bottom-bar-container {
    z-index: 9999;
    position: fixed;
    width: 80vw;        
    height: auto;
    
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    
    position: relative;
}

#bottom-bar {
    width: 100%;
    display: block;
}

#instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    margin: 0;
    color: black;
    font-size: 1.8rem;
    white-space: nowrap;

    font-family: "InstrumentSerifItalic", serif;
    font-style: italic;
    letter-spacing: 0.3px;
}

